*{
    margin: 0;
    padding: 0;
    font-family:monospace;
    font-size: 15px;
}
body{
    background: linear-gradient(45deg, #7d9a92, #145658);
}
.container{
  
    /* display: flexbox; */
    justify-content: space-around;
    margin: 250px;
    padding: 60px 35px;;
    color: #fff;
    text-align: center;
}
p{
    margin-top: 10px;
    text-transform: capitalize;
    cursor: pointer;
   
}
p:hover{
    color: #000000;
    transition: 0.8s;
}
.container button{
    border: 0;
    outline: 5 ;
    /* font-size: ; */
    font-weight: bold;
    background: #ebfffc;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.container button:hover{
    background: #29302f;
    color: #fff;
    cursor: pointer;
    transition: .8s;
}